@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  background-image: url(./assets/backk.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  background-attachment: fixed;
  padding-top: 1.87rem; 
  overflow-x: scroll;
  display: flex;
  height: 100dvh;
  gap: 1.87rem;
  flex-direction: column; 
}
